<nav class="navbar navbar-dark bg-primary bg-gradient | sticky-top px-3">
    <a href="#" class="navbar-brand">{{title}}</a>
    <button class="navbar-toggler navbar-toggler-icon" 
        data-bs-target="ul.navbar-nav" 
        data-bs-toggle="collapse">
    </button>
    <ul class="navbar-nav navbar-collapse collapse">
    {{#each menu}}
    {{#with this}}
        <li><a class="nav-link" href="{{url}}">{{text}}</a></li>
    {{/with}}
    {{/each}}
    </ul>
</nav>