.col-md-8.col-xl-6.mx-auto
    header.p-5.border-bottom
        h1.display-1.fw-bold=error.title
        p.h3=error.message
    main.min-vh-100.p-3
        h2 Lo sentimos, nos apena mostrar esto
        p puedes volver a la pagina principal y retomar la experience de visitar esta aplicacion, haciendo click en desde el siguiente 
            a(href="/home") link
        p=title + " te desea una feliz jornada"