<div class="col-md-8 col-xl-6 mx-auto">
    <header class="p-5 border-bottom">
        <h1 class="display-1 fw-bold"><%=error.title%></h1>
        <p class="h3"><%=error.message%></p>
    </header>
    <main class="min-vh-100 p-3">
        <h2>Lo sentimos, nos apena mostrar esto</h2>
        <p>
            puedes volver a la pagina principal y retomar la experiencia de visitar esta aplicacion, haciendo click en desde el siguiente 
            <a href="/home">link</a>
        </p>
        <p><%=title%> te desea una feliz jornada </p>
    </main>
</div>