<form action="/login" id="login" method="post">
    <h2>Iniciar Sesion</h2>
    <label for="username">Coloque su Usuario o Correo</label>
    <input class="form-control"
        id="username" 
        name="username" 
        type="text"
        required>
    <label for="password">Ingrese su contraseña</label>
    <input class="form-control"
        id="password" 
        name="password" 
        type="password"
        required>
    <button>Ingresar</button>
</form>