<form action="/signin" id="signin" method="post">
    <h2>Registrate</h2>
    <label for="username">Escriba un Nombre de Usuario</label>
    <input class="form-control"
        id="username" 
        name="username" 
        type="text">
    <label for="email">Ingrese su Correo electronico</label>
    <input class="form-control"
        id="email" 
        name="email" 
        type="email"
        required>
    <label for="pass-user">Escriba una contraseña segura</label>
    <input class="form-control"
        id="pass-user" 
        name="password" 
        type="password"
        required>
    <label for="pass-repeat">Repita la contraseña</label>
    <input class="form-control"
        id="pass-repeat" 
        name="password" 
        type="password"
        required>
    <button>Crear Cuenta</button>
</form>